.btn {
  display: inline-flex;
  justify-content: center;
  color: inherit;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  @include hover-focus {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btn--primary {
  padding: 27px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include vp-1365 {
    padding: 22px 6px;
  }
}

.btn--primary-dark {
  border: 2px solid $color-default-white;

  @include hover-focus {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    background-color: $color-default-white;
    color: $color-sapphire;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn--primary-light {
  border: 2px solid $color-sapphire;

  @include hover-focus {
    border-color: transparent;
    border-image: $torch-red-to-cobalt;
    border-image-slice: 1;
    background: $torch-red-to-cobalt;
    color: $color-default-white;
  }

  @include active {
    color: transparentize($color-default-white, 0.3);
  }

  &:disabled {
    opacity: 0.3;
  }
}
