.btn {
  display: inline-flex;
  justify-content: center;
  color: inherit;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    pointer-events: none;
  }
}

.btn--hero {
  width: 230px;
  border: 2px solid $color-default-white;
  padding: 27px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include vp-1365 {
    width: 185px;
    padding: 22px 6px;
  }

  @include vp-767 {
    width: 100%;
  }
}
