.feedback__container h2 {
  font-family: $ff-heading;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  margin: 0;
  margin-bottom: 46px;
  text-align: center;

  @include vp-1365 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    margin-bottom: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    margin-bottom: 46px;
  }
}

.feedback__content-container {
  position: relative;
  width: 672px;
  margin: 0 auto;
  padding: 0 56px;

  @include vp-1365 {
    width: 678px;
    padding: 0 49px;
  }

  @include vp-767 {
    width: 284px;
    padding: 0 29px;
  }
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__item {
  display: flex;
  background-color: $color-resolution-blue;
  color: $color-default-white;
  padding: 60px;
  gap: 30px;

  @include vp-1365 {
    padding: 60px 65px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 25px;
    gap: 10px;
  }
}

.feedback__item picture {
  flex-shrink: 0;
}

.feedback__information h3 {
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 21px;

  @include vp-1365 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 13px;
  }

  @include vp-767 {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

.feedback__information p {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 22px;
  }
}

.feedback__button {
  position: absolute;
  top: 50%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 1px solid $color-default-white;

  @include hover-focus {
    border-color: $color-sapphire;
  }

  @include active {
    background-color: $color-sapphire;

    & svg {
      color: $color-default-white;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-767 {
    width: 40px;
    height: 40px;
  }

  &--prev {
    left: -20px;
    transform: rotate(180deg) translateY(50%);

    @include vp-767 {
      left: -13px;
    }
  }

  &--next {
    right: -20px;
    transform: translateY(-50%);

    @include vp-767 {
      right: -13px;
    }
  }
}

.feedback__button svg {
  color: $color-sapphire;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
