.footer-menu {
  background-color: $color-black-russian;
  color: $color-default-white;
}

.footer-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $vp-1366;
  padding-top: 40px;
  padding-bottom: 40px;

  @include vp-1365 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    padding-top: 30px;
    gap: 30px;
  }
}

.footer-menu__container img {
  @include vp-1365 {
    width: 100px;
    height: 22px;
  }

  @include vp-767 {
    width: 86px;
    height: 15px;
  }
}

.footer-menu__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 41px;

  @include vp-1365 {
    column-gap: 30px;
  }

  @include vp-767 {
    column-gap: 35px;
    margin-bottom: 15px;
  }
}

.footer-menu__link {
  position: relative;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 4px 9px;
  margin: -5px -10px;
  border: 1px solid transparent;

  @include vp-767 {
    line-height: 20px;
  }

  &:hover {
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      right: 9px;
      left: 9px;
      height: 1px;
      background-color: $color-default-white;
    }
  }

  &:focus {
    border-color: $color-default-white;
  }

  @include active {
    border-color: $color-transparent;

    &::after {
      display: none;
    }
  }

  &:disabled {
    opacity: 0.4;
  }
}

.footer-menu__social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  width: 109px;
  gap: 10px;

  @include vp-1365 {
    width: 100px;
  }

  @include vp-767 {
    justify-content: center;
    width: 100%;
  }
}

.footer-menu__social-link {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color: $color-default-white;
  color: $color-black-russian;
  border-radius: 50%;

  @include hover-focus {
    background-color: $color-egyptian-blue;
    color: $color-default-white;
  }

  @include active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.footer-menu__social-link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
